.search_icon {
  position: absolute;
  top: 24px;
  right: 37px;
}
.ai_search {
  font-size: 19px;
  font-size: 19px;
  padding: 10px;
  background: green;
  color: blue;
  border-radius: 50%;
  cursor: pointer;
}
.search_bar {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background: lightseagreen;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}
.search_input {
  padding: 15px;
  width: 250px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.weather_card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  margin: auto;
  position: relative;
  height: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}
.close_button {
  position: absolute;
  right: 20px;
}
.data_span {
  padding-left: 10px;
}
